<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">todo</h1>
      <p>Ваш персональный сервис управления задачами</p>
      <p><a class="btn btn-primary btn-lg" href="<%= w_path %>" role="button">Перейти к работе &raquo;</a></p>
    </div>
  </div>
  <div class="container text-center">
    <!-- Example row of columns -->
    <%= image_tag "main.jpg" %>


  </div> <!-- /container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Доступно</h2>
          <p>Благодяра данному сервису мы всегда можете следить и управлять текущими задачами. С любого устройства и системы.</p>
        </div>
        <div class="col-md-4">
          <h2>Функционально</h2>
          <p>На этом сайте вы можете управлять как своими личными задачами, так и создать команду и иметь доступ к командному управлению!</p>
        </div>
        <div class="col-md-4">
          <h2>Удобно</h2>
          <p>Понятный и доступный интерфейс, а также приятный дизайн благоприятно скажутся на вашей работе.</p>
        </div>
      </div>
    </div>
  </div>
</main>