<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на смену вашего пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не вы, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен до тех пор, пока вы не перейдете по ссылке и не измение его.</p>
